@model SwitchSelect.Models.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Novo Cliente";
}

<h1>@ViewData["Title"]</h1>


<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div class="form-control">
                <label asp-for="Cliente.Nome" class="form-label"></label>
                <input asp-for="Cliente.Nome" class="form-control" />
                <span asp-validation-for="Cliente.Nome" class="text-danger"></span>

                <label asp-for="Cliente.Cpf" class="form-label"></label>
                <input asp-for="Cliente.Cpf" class="form-control" />
                <span asp-validation-for="Cliente.Cpf" class="text-danger"></span>

                <label asp-for="Cliente.RG" class="form-label"></label>
                <input asp-for="Cliente.RG" class="form-control" />
                <span asp-validation-for="Cliente.RG" class="text-danger"></span>
            </div>
            <br />
            <h4>Endereço</h4>
            <div class="form-control">
                <label asp-for="Endereco.Logradouro" class="form-label"></label>
                <input asp-for="Endereco.Logradouro" class="form-label"/>
                <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

