@model SwitchSelect.Models.ViewModels.ClienteDadosPessoaisViewModel

@{
    ViewData["Title"] = "Editar dados Pessoais";
}

<h1>Editar dados</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Cliente" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDeNascimento" class="control-label"></label>
                <input asp-for="DataDeNascimento" class="form-control" type="date" />
                <span asp-validation-for="DataDeNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Gênero</label>
                <div>
                    <label>
                        <input type="radio" name="Genero" value="M" asp-for="Genero" />
                        Masculino
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="Genero" value="F" asp-for="Genero" />
                        Feminino
                    </label>
                </div>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RG" class="control-label"></label>
                <input asp-for="RG" class="form-control" />
                <span asp-validation-for="RG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoTelefone" class="control-label"></label>
                @Html.DropDownListFor(model => model.TipoTelefone,
                         new SelectList(Enum.GetValues(typeof(SwitchSelect.Models.TipoTelefone))),
                         "Selecione o Tipo de Telefone",
                         new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="DDD" class="control-label"></label>
                <input asp-for="DDD" class="form-control" />
                <span asp-validation-for="DDD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroTelefone" class="control-label"></label>
                <input asp-for="NumeroTelefone" class="form-control" />
                <span asp-validation-for="NumeroTelefone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index" ,"H">Voltar</a>
</div>


