@model SwitchSelect.Models.Cliente

<div class="col-md-4 mb-4">
    
    <div class="card-body">
        <h5>@Model.Nome</h5>
        <h5>@Model.Cpf</h5>
        <h5>Endereco:</h5>
       
    </div>
</div>
