@model SwitchSelect.Models.Jogo

<div class="col-md-3 mb-3">
    <div class="text-center">
        <img src="@Url.Content(Model.ImagemUrl)" class="img-fluid" alt="Imagem de @Model.Nome">
    </div>
    <div class="card-body text-center">
        <h5 class="mt-2">@Model.Nome</h5>
        <h6>Preço: @Model.Preco.ToString("c")</h6>
    </div>
</div>
