@model SwitchSelect.Models.ViewModels.CartaoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CartaoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <input asp-for="ClienteId" class="form-control" />
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroCartao" class="control-label"></label>
                <input asp-for="NumeroCartao" class="form-control" />
                <span asp-validation-for="NumeroCartao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitularDoCartao" class="control-label"></label>
                <input asp-for="TitularDoCartao" class="form-control" />
                <span asp-validation-for="TitularDoCartao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpfTitularCartao" class="control-label"></label>
                <input asp-for="CpfTitularCartao" class="form-control" />
                <span asp-validation-for="CpfTitularCartao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataValidade" class="control-label"></label>
                <input asp-for="DataValidade" class="form-control" />
                <span asp-validation-for="DataValidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVV" class="control-label"></label>
                <input asp-for="CVV" class="form-control" />
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCartao" class="control-label"></label>
                <select asp-for="TipoCartao" class="form-control"></select>
                <span asp-validation-for="TipoCartao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

