
    <div class="container">
        <div class="form-group col-sm-4">
            <h1>Login</h1>
            <form action="#">
                <label  for="email">E-mail</label>
                <input class="form-control" type="email" id="email" name="email" >
                <label  for="password">Senha</label>
                <input class="form-control" type="password" id="password" name="password" >
                <button asp-controller="Cliente" asp-action="PerfilUsuario" type="">Login</button>
                <p>Não tem conta? <a asp-controller="Cliente" asp-action="Create">Cadastre-se</a></p>
            </form>
        </div>
        
    </div>

